server:
  port: 8888

encrypt:
  key: ${ENCRYPT_KEY}

spring:
  application:
    name: config-service
  profiles:
    active: git
  cloud:
    config:
      server:
        git:
          uri: https://github.com/jaeyeon518/spring-cloud-config-server
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include:
          - refresh
          - health
          - beans
          - info
          - busrefresh