server:
  port: 8000

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: apigateway-service
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - RemoveRequestHeader=Cookie   # 모든 라우트 공통 적용
#            - name: GlobalFilter
#              args:
#                baseMessage: Spring Cloud Gateway WebFlux Global Filter
#                preLogger: true
#                postLogger: true
          routes:
            - id: user-service-register
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/register
            - id: user-service-login
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/login
            - id: user-service-health-check
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/health-check
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
              filters:
                - AuthorizationHeaderFilter
            - id: catalog-service
              uri: lb://CATALOG-SERVICE
              predicates:
                - Path=/catalogs/**
            - id: order-service
              uri: lb://ORDER-SERVICE
              predicates:
                - Path=/orders/**

token:
  secret: my-very-long-secret-key-1234567890123456